@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Lobster&family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,300;1,400;1,600;1,700&family=Pacifico&family=Poppins:ital,wght@0,100;0,600;1,200;1,500;1,600&family=Rancho&family=Reenie+Beanie&family=Rock+Salt&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap');


/* aplicar a fonte para o corpo inteiro */
body {
    font-family: 'Poppins', 'Lobster', 'Pacifico', sans-serif; /* Definindo as fontes */
    font-weight: bolder;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

/* estilo especifico para o <h1> */
h1 {
    font-family: 'Lobster', cursive; /* Usando a fonte 'Lobster' para o título */
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}


/* lista ocupa toda a largura da tela e centraliza o texto */
.lista-personalizada {
    width: 100%;
    list-style: none; /* remove os marcadores da lista */
    padding: 0;
    margin: 0;
    text-align: center; /* Centraliza o texto */
}

.lista-personalizada li {
    background-color: lightgray; /* Cor de fundo cinza claro */
    color: blue; /* Cor do texto azul */
    margin: 10px 0; /* Espaçamento entre os itens */
    padding: 15px; /* Preenchimento dos itens */
    border-radius: 5px; /* Borda arredondada de 5px */
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

/* mudança de cor ao passar o mouse (hover) */
.lista-personalizada li:hover {
    background-color: gray; /* cor de fundo mais escura */
}

/* ultimo item com cor de texto verde e estilo de fonte itálico */
.lista-personalizada li.ultimo-item {
    color: green;
    font-style: italic;
}
